# App
DB_DSN="posgres://"
INTEGRATION_TEST_DB_DSN=postgres://postgres:postgres@localhost:5432/gobootstrapweb_test?sslmode=disable

# Goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:pass@localhost:5432/app?sslmode=disable
GOOSE_MIGRATION_DIR=./sqlc/migrations
