# App
DB_DSN="postgres://app_user:app_password@localhost:5432/app_db?sslmode=disable"
INTEGRATION_TEST_DB_DSN="postgres://integration_user:integration_password@localhost:5433/gobootstrapweb_test?sslmode=disable"

# Goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://app_user:app_password@localhost:5432/app_db?sslmode=disable
GOOSE_MIGRATION_DIR=./sqlc/migrations
